@charset "utf-8";
/* CSS Document */

/* allgemeine Formatierungen */
body	    { background-color:#F0F0F0; margin-left: 20px; }
p	    		{ margin-top:5px; margin-bottom:15px; }
h1 				{ font-family:Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; margin-top: 50px; }
h2				{ font-family:Arial, Helvetica, sans-serif; font-size: 13px; font-weight: normal; padding-top: 5px; padding-left:15px }
a:link 		{ color:#000000; font-weight:bold; text-decoration:none; }
a:visited	{ color:#000000; font-weight:bold; text-decoration:none; }
a:hover		{ color:#8B1B31; font-weight:bold; text-decoration:none; }
a:active	{ color:#000000; font-weight:bold; text-decoration:none; }
a:focus		{ color:#000000; font-weight:bold; text-decoration:none; }

/* Positionierung Navigation */
#start 				{ position:absolute; top:24px; left:20px; z-index:1; }
#dropdown 		{ position:absolute; top:24px; left:130px; z-index:1; }
#blaettern1 	{ position:absolute; top:27px; left:275px; width:32px; height:20px; z-index:1; }
#blaettern2 	{ position:absolute; top:27px; left:350px; width:32px; height:20px; z-index:1; }
#blaettern3 	{ position:absolute; top:27px; left:388px; width:32px; height:20px; z-index:1; }
#blaettern4 	{ position:absolute; top:27px; left:370px; width:32px; height:20px; z-index:1; }
#lbl_vers 		{ position:absolute; top:26px; left:422px; z-index:1; }
#vers 				{ position:absolute; bottom:40px; left:454px; z-index:1; font-family:Arial, Helvetica, sans-serif; font-size:10px }
#submitVers 	{	position:absolute; bottom:42px; left:509px;	z-index:2; }
#lbl_blatt 		{ position:absolute; top:26px; left:547px; z-index:1; }
#blatt 				{ position:absolute; bottom:40px; left:579px; z-index:1; }
#submitBlatt 	{	position:absolute; bottom:42px;	left:634px;	z-index:1; }
#einfuehrung 	{ position:absolute; top:25px; left:643px; z-index:1; }
#material 		{ position:absolute; top:25px; left:719px; z-index:1; }
#miniaturen 	{ position:absolute; top:25px; left:798px; z-index:1; }


/* 2. Zeile Navigation */
#startseite 	{ position:absolute; top:55px; left:20px; z-index:1; }
#blattAnzeige { position:absolute; top:55px; left:350px; width:50; height:20; z-index:1; }
#versAnzeige 	{ position:absolute; top:55px; left:130px; width:50; height:20; z-index:1; }
#lagenAnzeige { position:absolute; top:55px; left:483px; width:auto; height:20; z-index:1; }
#lagensymbol 	{ position:absolute; top:5px; left:483px; z-index:1; }
#g50 					{ position:absolute; top:55px; left:643px; width:auto; height:20; z-index:1; }
#g100 				{ position:absolute; top:55px; left:699px; width:auto; height:20; z-index:1; }
#g150 				{ position:absolute; top:55px; left:755px; width:auto; height:20; z-index:1; }
#zoom 				{ position:absolute; top:55px; left:809px; z-index:1; }
#info 				{ position:absolute; top:55px; left:853px; z-index:1; }
#bildbeschreibung { position:absolute; top:55px; left:885px; visibility:hidden; z-index:1; }


/* Formatierung Navigationstext */
.navText	    { font-family:Arial, Helvetica, sans-serif; font-size:10pt; text-decoration: none; margin-top:0px; margin-bottom:0px; }
.navTextLink	{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; text-decoration: none; margin-top:0px; margin-bottom:0px; }

.dynamisch		{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; }
/*.titel				{ font-family:Arial, Helvetica, sans-serif; font-size:12pt; font-weight: bold; color:#9E2922; }*/
.titel				{ font-family:Arial, Helvetica, sans-serif; font-size:12pt; font-weight: bold; color:#8B1B31; }
.fliesstext		{ font-family:Arial, Helvetica, sans-serif; font-size:10pt; margin-bottom:10px; margin-right:20px;  padding-left:15px}
